*{
    padding: 0;
    margin: 0;
  }
  .page{
    box-sizing: border-box;
    height: 100vh;
    background-color: blue;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 85px;
    font-family: 'Libre Baskerville';
    box-shadow: 0 10px 15px #00000060;
  }
  .page a{
    text-decoration: underline;
    color: #efefffcc;
    mix-blend-mode: overlay;
  /*   border: 5px solid #000000; */
  }
  .fs {
    z-index: 5;
    background-color: rgba(255, 0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sc {
    background-color: yellow;
    z-index: 4;
    background: url("Black-dark-minimalist-wallpapers-HD.jpg");
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
  }
  .sc a{
    color: #00b386;
  }
  .th {
    background-color: green;
    z-index: 3;
      background: url("https://images.pexels.com/photos/3551227/pexels-photo-3551227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
  }
  .th a{
    color: #00ace6;
  }
  .fr {
    background-color: red;
    z-index: 2;
    background: url("https://images.pexels.com/photos/6775273/pexels-photo-6775273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: no-repeat;
  }
  .fr a{
    color: #ff9999;
  }
.me{
  position: relative;
  background-image: url("stu.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 700px;
  top:20%;
  left:60%;
}

h3{
  color: azure;
}